<div class="login-wrapper">
    <form class="login" (ngSubmit)="forgetPassword()" #registerForm="ngForm">
        <label class="title">
            <h2 class="welcome">Forgot Password</h2>
        </label>
        <div class="login-group">
            <input class="email" type="text" id="login_email" placeholder="Ketikkan Email Anda" [(ngModel)]="forgetCredentials.email"
                name="email" required>
            <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.form.valid">RESET PASSWORD</button>
            <div class="version-tag">
                Version 0.2.0.1
            </div>
        </div>
    </form>
</div>
<clr-modal [(clrModalOpen)]="openAlert" [clrModalSize]="'sm'">
    <div class="modal-body">
        <h4>{{ titleAlert }}</h4>
        <p>{{ messageAlert }}</p>
    </div>
    <div class="modal-footer">
        <button *ngIf="succesSendMail" type="button" class="btn btn-primary" (click)="redirectPage()">Ok</button>
        <button *ngIf="!succesSendMail" type="button" class="btn btn-primary" (click)="openAlert = false">Ok</button>
    </div>
</clr-modal>