<div class="wrapper">
  <div class="sub-wrapper">
    <div class="side-left">
      <h1>Form Generator Admin</h1>
    </div>
    <div class="side-right">
      <div class="card">
        <div class="row">
          <div class="col-md-1">
            <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
          </div>
          <div class="col-md-10">
            <input id="search_input" [(ngModel)]="searchForm" type="text" placeholder="Ketik Judul Formulir">
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="content-wrapper">
  <div id="content-list-wrapper">
    <div id="content-list">
      <div id="header-list">
        <div class="col-6">
          <span class="title-content-list">List Forms</span>
        </div>
        <div class="col-6 text-right">
          <button class="btn-primary" href="#" (click)="goToForm()">CREATE FORM</button>
        </div>
      </div>
      <div id="form-list">
        <ul>
          <li *ngFor="let list of listDataForms | filterForms: searchForm">
            <div class="boxfile">
              <div class="boxname">
                <b>{{ list.name_form }}</b>
                <br>
                <a [routerLink]="['/home/editform', list.no_form]">
                  <span class="glyphicon glyphicon-pencil"></span> EDIT</a> |
                <a class="btn-delete" (click)="openAlert(list.no_form)">
                  <span class="glyphicon glyphicon-trash"></span> DELETE</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>

<clr-modal [(clrModalOpen)]="alertModal" [clrModalSize]="'sm'">
  <h5 class="modal-title">Warning</h5>
  <div class="modal-body">Are you sure to delete this form ?</div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="alertModal = false;" type="button">Cancel</button>
    <button class="btn btn-danger" (click)="deleteForm()" type="button">Delete</button>
  </div>
</clr-modal>