$darkblue: #314961;
$softdarkblue: #49698a;
$greyback: #e3e7e9;
$softgreyback: #fafafa;
$primary: #3193fe;
$softprimary: #5ba9fd;

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.btn-primary {
    border:0;
    border-radius: 3px;
    background-color: $primary;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
}

.btn-primary:hover {
    background-color: $softprimary;
}

.navbar {
    width:100%;
    background: $darkblue;
    height: 60px;
    border-radius: 0;
}

.navbar-title-top {
    font-size: 1.3em;
    line-height: 60px;
    margin-left:55px;
    margin-right:55px;
    font-weight: 500;
    color:white;
}

.navbar-search {
    width: 40%;
    height: 35px;
    padding-left: 24px;
    background: $softdarkblue;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    color: black;
}

.navbar-search:focus {
    background: white;
}

input[type=text]:not([readonly]), input[type=password]:not([readonly]), input[type=number]:not([readonly]), input[type=email]:not([readonly]), input[type=url]:not([readonly]), input[type=tel]:not([readonly]), input[type=date]:not([readonly]), input[type=time]:not([readonly]), input[type=datetime-local]:not([readonly]) {
    background: white;
    margin-top:10px;
}

.wrapper {
    padding: 20px;
}

.content-wrapper {
    background-color: $softgreyback;
    overflow-y: auto;
}

#content-list-wrapper{
    min-height:530px;
    margin-top:20px;
    margin-left: 1px;
    margin-right: 1px;
}

#content-list {
    position: relative;
    min-height:530px;
    border-radius: 3px;
    background-color: white;
    padding: 15px 25px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*FF 3.5+*/
    -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#000000); /*IE 5.5-7*/
}

#header-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    width:100%;
    margin-bottom:30px;
}

.title-content-list {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2.2em;
}

#header-list .col-6 {
    width: 50%;
}

#header-list .col-12 {
    width: 100%;
}

#form-list {
    display: flex;
    margin: 20px 0px;

    ul {
        list-style: none;
    }

    li {
        float: left;
    }
}

#form-list .boxfile {
    width:180px;
    height: 160px;
    background: url('../../../images/abstract.jpg');
    word-wrap: break-word;
    margin-right: 10px;
    border:1px solid $greyback;
    margin-bottom: 10px;
    transition: all .2s ease-out;
}

#form-list .boxfile:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/*FF 3.5+*/
    -webkit-box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.boxname {
    width:100%;
    height: 90px;
    padding: 10px;
    margin-top: 70px;
    background: white;
    cursor: pointer;
    border-bottom:1px solid $greyback;
}

.btn-delete {
    color: red;
}

a {
    font-size: 0.9em;
}


.sub-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.side-left, .side-right {
    width:100%;
    align-self: flex-start;
    transition: all .5s ease-out;
}

.row {
    align-items: stretch;
}

.icon-search {
    margin: 15px;
    width: 24px;
    height: 24px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time] {
    margin: 10px;
    width:100%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .navbar-title-top {
        font-size: 1.3em;
        line-height: 50px;
        margin-left:25px;
        margin-right:25px;
        font-weight: 500;
        color:white;
    }

    .navbar-search {
        width: 50%;
        height: 35px;
        padding-left: 24px;
        background-color: $softdarkblue;
        border: 0;
        border-radius: 5px;
        font-size: 1em;
        outline: none;
        color: black;
    }

    #content-list-wrapper{
        position: absolute;
        width:99%;
        min-height:530px;
        top:0;
        left:0;
        margin-top:20px;
        margin-left:5px;
    }

    #content-list {
        position: relative;
        width:99%;
        min-height:530px;
        border-radius: 3px;
        background-color: white;
        padding: 15px 25px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#000000)";/*IE 8*/
        -moz-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*FF 3.5+*/
        -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
        box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#000000); /*IE 5.5-7*/
    }

    #form-list {
        display: flex;
        margin: 10px 0px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
    }
    }

    #form-list .boxfile {
        width:305px;
        height: 150px;
        background: url('/assets/abstract.jpg');
        word-wrap: break-word;
        margin-right: 10px;
        border:1px solid $greyback;
        margin-bottom: 30px;
    }

    #form-list .boxfile:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#000000)";/*IE 8*/
        -moz-box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/*FF 3.5+*/
        -webkit-box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
        box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#000000); /*IE 5.5-7*/
    }


    .boxname {
        width:100%;
        height: 80px;
        padding: 10px;
        margin-top: 70px;
        background: white;
        font-size: 1.2em;
        cursor: pointer;
        border-bottom:1px solid $greyback;
    }

    .title-content-list {
        font-size: 1.2em;
        font-weight: 700;
        line-height: 2em;
    }

}