<div class="wrapper">
    <h2>Laporan</h2>
    <img id='logo' src="../../images/logomary.png" style="display: none;"><br>
    <div class="card">
        <H5>Filter Laporan</H5>
        <hr>
        <form #myForm="ngForm" novalidate>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <span>Start Date</span>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="startdate" [placeholder]="placeholder" (dateChanged)="onDateStartChanged($event)" required></my-date-picker>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <span>End Date</span>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="enddate" [placeholder]="placeholder" (dateChanged)="onDateEndChanged($event)" required></my-date-picker>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <span>Filter</span>
                            <br>
                            <button *ngIf="show == 'all'" (click)="dateRange()" id="btn-report" class="btn btn-primary">Filter</button>
                            <button *ngIf="show != 'all'"(click)="dateRange()" id="btn-report" class="btn btn-primary" disabled>Filter</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <span>Pilih Pasien</span>
                            <br>
                            <div class="select">
                                <select id="selects_1" (change)="patientStatus($event)">
                                    <option value="0">Pilih Pasien</option>
                                    <option value="Lama">Pasien Lama</option>
                                    <option value="Baru">Pasien Baru</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <span>Pilih Format Laporan</span>
                            <br>
                            <div class="select">
                                <select id="selects_1" (change)="formatReport($event)">
                                    <option value="rekap">Rekap Laporan Pasien</option>
                                    <option value="pembayaran">Laporan Pasien Pembayaran</option>
                                    <option value="dokter">Laporan Pasien PerDokter</option>
                                    <option value="batal">Laporan Jumlah Pasien Batal</option>
                                    <option value="rujuk">Laporan Jumlah Pasien di Rujuk</option>
                                    <option value="penyakit">Laporan 10 Besar Penyakit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <span>Format</span>
                            <br>
                            <div class="select">
                                <select id="selects_1" (change)="formatDoc($event)">
                                    <option value="pdf">.Pdf</option>
                                    <option value="xlsx">.Xlsx</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <span>Download</span>
                            <br>
                            <button (click)="exportDoc()" id="btn-report" class="btn btn-primary">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div *ngIf="show == 'all'">
            <h4>Rekap Laporan Pasien</h4>
            <clr-datagrid class="grid-table">
                <clr-dg-column [clrDgField]="'index'">No</clr-dg-column>
                <clr-dg-column [clrDgField]="'tgl'">Tanggal</clr-dg-column>
                <clr-dg-column [clrDgField]="'nama_pasien'">Nama Pasien</clr-dg-column>
                <clr-dg-column>No RM</clr-dg-column>
                <clr-dg-column [clrDgField]="'kelamin'">Jenis Kelamin</clr-dg-column>
                <clr-dg-column [clrDgField]="'umur'">Umur</clr-dg-column>
                <clr-dg-column [clrDgField]="'nama_dok'">Dokter</clr-dg-column>
                <clr-dg-column>Spesialis</clr-dg-column>
                <clr-dg-column [clrDgField]="'jaminan'">Pembayaran</clr-dg-column>
                <clr-dg-column [clrDgField]="'diagnosa'">Diagnosa</clr-dg-column>
                <clr-dg-column [clrDgField]="'kasus'">Kasus</clr-dg-column>
                <clr-dg-column [clrDgField]="'kunjungan'">Kunjungan</clr-dg-column>
                <clr-dg-column>Alamat</clr-dg-column>
                <clr-dg-row *clrDgItems="let laporan of dataReport; let i = index" (click)="openModal(laporan)">
                    <clr-dg-cell>{{ laporan.index+1 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.tgl }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.nama_pasien }}</clr-dg-cell>
                    <clr-dg-cell *ngFor="let personal of laporan.no_medrec">
                        {{ personal.no_medrec }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.kelamin }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.umur }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.nama_dok }}</clr-dg-cell>
                    <clr-dg-cell *ngFor="let job of laporan.nodok">
                        {{ job.specialist }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.jaminan }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.diagnosa | slice:0:30 }}{{laporan.showDiagnosa}}</clr-dg-cell>

                    <clr-dg-cell>{{ laporan.kasus }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.kunjungan }}</clr-dg-cell>
                    <clr-dg-cell *ngFor="let personaladdress of laporan.no_medrec">
                        {{ personaladdress.address | slice:0:20 }}...</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Pasien
                    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="dataReport.length"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
        <div *ngIf="show == 'pembayaran'">
            <h4>Laporan Pasien Pembayaran</h4>
            <clr-datagrid>
                <clr-dg-column [clrDgField]="'nama_dok'" class="dokfield">Nama Dokter</clr-dg-column>
                <clr-dg-column [clrDgField]="'pribadi'">Pribadi</clr-dg-column>
                <clr-dg-column [clrDgField]="'asuransi'">Asuransi</clr-dg-column>
                <clr-dg-column [clrDgField]="'bpjs'">BPJS</clr-dg-column>
                <clr-dg-row *clrDgItems="let laporan of listpembayaran; let i = index">
                    <clr-dg-cell>{{ laporan.nama_dok }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.pribadi }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.asuransi }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.bpjs }}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    {{paginationpembayaran.firstItem + 1}} - {{paginationpembayaran.lastItem + 1}} of {{paginationpembayaran.totalItems}} Pasien
                    <clr-dg-pagination #paginationpembayaran [clrDgPageSize]="10" [clrDgTotalItems]="listpembayaran.length"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
        <div *ngIf="show == 'dokter'">
            <h4>Laporan Pasien PerDokter</h4>
            <clr-datagrid>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Nama Dokter</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Spesialis</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Januari</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Februari</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Maret</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">April</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Mei</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Juni</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Juli</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Agustus</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">September</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Oktober</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">November</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Desember</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Jumlah</clr-dg-column>
                <clr-dg-row *ngFor="let laporan of listdoctor; let i = index">
                    <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.dokter }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.spesialis }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.januari }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.februari }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.maret }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.april }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.mei }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.juni }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.juli }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.agustus }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.september }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.oktober }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.november }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.desember }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.jumlah }}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
        <div *ngIf="show == 'batal'">
            <h4>Laporan Jumlah Pasien Batal</h4>
            <clr-datagrid>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Tanggal</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Nama Pasien</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No RM</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Dokter</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Spesialis</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Pembayaran</clr-dg-column>
                <clr-dg-row *ngFor="let laporan of listbatal; let i = index">
                    <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.tanggal }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.name }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.norm }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.dokter }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.spesialis }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.pemabayaran }}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
        <div *ngIf="show == 'rujuk'">
            <h4>Laporan Jumlah Pasien di Rujuk</h4>
            <clr-datagrid>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Tanggal</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Nama Pasien</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No RM</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Dokter</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Spesialis</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Diagnosa</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Rujuk</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Rawat Inap</clr-dg-column>
                <clr-dg-row *ngFor="let laporan of listrujuk; let i = index">
                    <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.tanggal }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.name }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.norm }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.dokter }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.spesialis }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.diagnosa }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.rujuk }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.rawatinap }}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
        <div *ngIf="show == 'penyakit'">
            <h4>Laporan 10 Besar Penyakit</h4>
            <clr-datagrid>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Nama RS</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Bulan</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Tahun</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">No. Urut</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Kode ICD 10</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Deskripsi</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Kasus Baru menurut Jenis Kelamin LK</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Kasus Baru menurut Jenis Kelamin PR</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Jumlah Kasus Baru (4+5)</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="pokemonComparator">Jumlah Kunjungan</clr-dg-column>
                <clr-dg-row *ngFor="let laporan of listpenyakit; let i = index">
                    <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.namars }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.bulan }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.tahun }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.nourut }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.icd10 }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.desc }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.kasuslk }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.kasuspr }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.jumlahkasus }}</clr-dg-cell>
                    <clr-dg-cell>{{ laporan.jumlahkunjungan }}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
    </div>
    <!-- <div *ngIf="chart && show == 'pembayaran'">
        <br><br>
        <canvas baseChart [chartType]="'pie'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
    </div> -->
</div>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'md'">
    <h5 class="modal-title">Detail Pasien</h5>
    <div class="modal-body">
        <div class="row rowlist" *ngFor="let detailpatient of detailPatient; let i = index">
            <div class="col-md-3">
                Tanggal
            </div>
            <div class="col-md-9">
                {{ detailpatient.tgl }}
            </div>
            <div class="col-md-3">
                Nama Pasien
            </div>
            <div class="col-md-9">
                {{ detailpatient.nama_pasien }}
            </div>
            <div class="col-md-3">
                No. RM
            </div>
            <div class="col-md-9" *ngFor="let personal of detailpatient.no_medrec">
                {{ personal.no_medrec }}
            </div>
            <div class="col-md-3">
                Jenis Kelamin
            </div>
            <div class="col-md-9">
                {{ detailpatient.kelamin }}
            </div>
            <div class="col-md-3">
                Umur
            </div>
            <div class="col-md-9">
                {{ detailpatient.umur }}
            </div>
            <div class="col-md-3">
                Dokter
            </div>
            <div class="col-md-9">
                {{ detailpatient.nama_dok }}
            </div>
            <div class="col-md-3">
                Spesialis
            </div>
            <div class="col-md-9" *ngFor="let doctor of detailpatient.nodok">
                {{ doctor.specialist }}
            </div>
            <div class="col-md-3">
                Pembayaran
            </div>
            <div class="col-md-9">
                {{ detailpatient.jaminan }}
            </div>
            <div class="col-md-3">
                Diagnosa
            </div>
            <div class="col-md-9">
                {{ detailpatient.diagnosa }}
                <button class="btn btn-sm btn-block" (click)="drawcanvas(i, detailpatient.diagnosa_stroke)">Tampilkan Hasil Stylus</button>
                <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                <img *ngIf="stylus[i]" class="drawimage" src="{{ detailpatient.image }}" style="width:320px;height:170px;">
            </div>
            <div class="col-md-3">
                Kasus
            </div>
            <div class="col-md-9">
                {{ detailpatient.kasus }}
            </div>
            <div class="col-md-3">
                Kunjungan
            </div>
            <div class="col-md-9">
                {{ detailpatient.kunjungan }}
            </div>
            <div class="col-md-3">
                Alamat
            </div>
            <div class="col-md-9" *ngFor="let personaladdress of detailpatient.no_medrec">
                {{ personaladdress.address }}
            </div>
        </div>
    </div>
</clr-modal>

<!-- <clr-modal [(clrModalOpen)]="chart" [clrModalSize]="'md'">
    <h5 class="modal-title">Chart Pembayaran</h5>
    <canvas baseChart [chartType]="'pie'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
</clr-modal> -->