$darkblue: #314961;
$softdarkblue: #49698a;
$greyback: #e3e7e9;
$softgreyback: #fafafa;
$primary: #3193fe;
$softprimary: #5ba9fd;
$greysoft: #aaa;
$grey: #f1f1f1;
$red: #d9534f;
$softred: #ff7470;
$orange: #fbb03b;
$softorange: #ffc66d;

.row {
    padding-top:10px;
}

.col-base {
    padding-top:10px;
}

.text-left {
    text-align: left;
}

label {
    font-size: 1em;
}

select, input,textarea {
    width: 100%;
    min-height: 36px;
}

.text-right {
    text-align: right;
}

.form-name  {
    font-size: 2.3em;
}

.input-form {
    border:0;
    border-bottom:1px solid $greysoft;
    font-size: 1.1em;
    line-height: 40px;
    width: 480px;
    outline:none;
}

.input-form:focus {
    border-bottom:1px solid $primary;
}

.btn-primary_ {
    border:0;
    border-radius: 3px;
    background-color: $primary;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-primary_:hover {
    background-color: $softprimary;
}

.btn-edit {
    border:0;
    border-radius: 3px;
    background-color: $orange;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-edit:hover {
    background-color: $softorange;
}

.btn-danger {
    border:0;
    border-radius: 3px;
    background-color: $red;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-danger:hover {
    background-color: $softred;
}

.btn-dark {
    border:0;
    border-radius: 3px;
    background-color: $softdarkblue;
    background-color: $darkblue;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-dark:hover {
    background-color: $darkblue;
}

.btn-dark:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

.btn-link {
    border:0;
    border-radius: 3px;
    background-color: $softdarkblue;
    background-color: $darkblue;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-link:hover {
    background-color: $darkblue;
}

.btn-back {
    border:0;
    border-radius: 3px;
    background-color: $softdarkblue;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    margin-left: 55px;
}

.navbar {
    width:100%;
    background: $darkblue;
    color:white;
    height: 60px;
    border-radius: 0;
}

.navbar-title-top {
    font-size: 1.3em;
    line-height: 60px;
    margin-left:55px;
    margin-right:55px;
    font-weight: 500;
}

.navbar-search {
    width: 40%;
    height: 35px;
    padding-left: 24px;
    background-color: $softdarkblue;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.navbar-search:focus {
    background-color: white;
}

.wrapper {
    padding: 20px;
}

.content-wrapper {
    background-color: $softgreyback;
    overflow-y: auto;
}

#content-list-wrapper{
    min-height:530px;
    margin-top:20px;
    margin-left: 1px;
    margin-right: 1px;
}

#content-list {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background-color: white;
    padding: 15px 25px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*FF 3.5+*/
    -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.title-content-list {
    font-size: 0.9em;
    font-weight: 700;
}

#content-list .col-6 {
    width: 50%;
}

#content-list .col-12 {
    width: 100%;
}

.full-form {
    width: 100%;
}

.editor-form {
    padding:20px;
    border-left: 5px solid $primary;
    border-top: 1px solid $greysoft;
    border-bottom: 1px solid $greysoft;
    border-right: 1px solid $greysoft;
    margin:20px 0px;
}

pre {
    padding: 15px;
    background: $grey;
}

.sub-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.side-left {
    width:100%;
    align-items: center;
    height: 60px;
    transition: all .5s ease-out;
}

.side-right {
    width:20%;
    height: 60px;
    padding-top: 7px;
    justify-content: flex-end;
    transition: all .5s ease-out;

    .btn-danger {
        float: right;
        align-items: center;
    }
}

.row {
    align-items: stretch;
}

.icon-search {
    margin: 15px;
    width: 24px;
    height: 24px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time] {
    margin: 10px;
    width:100%;
}

.card {
    padding: 25px;
}