<div class="wrapper">
  <div class="sub-wrapper">
    <div class="side-left">
      <input class="form-control" class="form-name" type="text" [(ngModel)]="formName" [ngModelOptions]="{standalone: true}" (focus)="selectAllContent($event)"
        maxlength="90" size="150" />
    </div>
    <div class="side-right">
      <button class="btn-danger" href="#" (click)="goToHome()">CANCEL</button>
    </div>
  </div>
  <div class="card">
    <strong>FORM PREVIEW</strong>
    <hr>
    <div class="col-12">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    </div>
    <pre>MODEL : {{ model|json }}</pre>
  </div>
  <div class="content-wrapper">
    <div id="content-list-wrapper">
      <div id="content-list">
        <div class="col-12">
          <strong>
            FORM EDITOR</strong>
          <hr>
          <div class="editor-form">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">LABEL</span>
              <input class="form-control" type="text" [(ngModel)]="labelName" [ngModelOptions]="{standalone: true}" (focus)="selectAllContent($event)"
                maxlength="200" size="90" aria-describedby="basic-addon1" />
            </div>
            <br>
            <select class="form-control" [(ngModel)]="elementName" [ngModelOptions]="{standalone: true}" (change)="onSelectElementNameChange($event)">
              <option value="label">Label</option>
              <option value="input">Input</option>
              <option value="textarea">Textarea</option>
              <option value="checkbox">Checkbox</option>
              <option value="radio">Radio Group</option>
              <option value="select">Select</option>
              <option value="datepicker">Datepicker</option>
              <option value="timepicker">Timepicker</option>
              <option value="range">Range</option>
              <option value="multiinput">Multiple Input</option>
              <option value="checkboxgroup">Checkbox Group</option>
            </select>
            <br>
            <div *ngIf="elementName == 'label'">
              <div class="row">
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="formatText" [ngModelOptions]="{standalone: true}">
                    <option value="header">Header</option>
                    <option value="bold">Bold</option>
                    <option value="normal">Normal</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'input'">
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">PLACEHOLDER</span>
                    <input class="form-control" type="text" placeholder="Masukkan Placeholder" [(ngModel)]="placeholder" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="formatText" [ngModelOptions]="{standalone: true}">
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="password">Password</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="required" [ngModelOptions]="{standalone: true}">
                    <option value="true">Required (True)</option>
                    <option value="false">Required (False)</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="readonly" [ngModelOptions]="{standalone: true}">
                    <option value="true">Readonly (True)</option>
                    <option value="false">Readonly (False)</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'textarea'">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">ROWS</span>
                    <input class="form-control" type="number" placeholder="Masukkan Rows" [(ngModel)]="rows" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">PLACEHOLDER</span>
                    <input class="form-control" type="text" placeholder="Masukkan Placeholder" [(ngModel)]="placeholder" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon3" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'checkbox'">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'radio'">
              <div class="row">
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID RADIO GROUP</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let item of itemRadio; let i = index" class="row">
                    <div class="col-md-5">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.value }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button class="btn-edit" (click)="editItem(i,'RADIO')">
                        <clr-icon shape="pencil" size="16"></clr-icon>
                      </button>
                      <button class="btn-danger" (click)="deleteItem(i,'RADIO')">
                        <clr-icon shape="trash" size="16"></clr-icon>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                    <input class="form-control" type="text" placeholder="Masukkan Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                    <input class="form-control" type="text" placeholder="Masukkan Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon3" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="generateValue()">Random</button>
                  </span>
                </div>
                <div class="col-md-2">
                  <div *ngIf="editRadioGroup == true" class="col-base">
                    <button class="btn-dark" (click)="editRadio()">
                      <clr-icon shape="pencil" size="16"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="editRadioGroup == false" class="col-base">
                    <button class="btn-dark" type="button" (click)="addRadio()">
                      <clr-icon shape="plus" size="16"></clr-icon>
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  Template :
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <button class="btn-primary_" (click)="generateTemplate(Yes-No)">Tidak-Ya</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'checkboxgroup'">
              <div class="row">
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID CHECKBOX GROUP</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let item of itemCheck; let i = index" class="row">
                    <div class="col-md-3">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.templateOptions.label }}" aria-describedby="basic-addon2" disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-2 col-base">
                      <button class="btn-edit" (click)="editItem(i,'CHECKBOX')">
                        <clr-icon shape="pencil" size="16"></clr-icon>
                      </button>
                      <button class="btn-danger" (click)="deleteItem(i,'CHECKBOX')">
                        <clr-icon shape="trash" size="16"></clr-icon>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">ID ITEM</span>
                    <input class="form-control" type="text" placeholder="Id" [(ngModel)]="idItem" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                    <input class="form-control" type="text" placeholder="Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <!-- <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                  <input class="form-control" type="text" placeholder="Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div> -->
                <div class="col-md-1 col-base">
                  <div *ngIf="editCheckbox == true">
                    <button class="btn-dark" (click)="editCheck()">
                      <clr-icon shape="pencil" size="16"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="editCheckbox == false">
                    <button class="btn-dark" (click)="addCheck()">
                      <clr-icon shape="plus" size="16"></clr-icon>
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'multiinput'">
              <div class="row">
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID MULTI INPUT</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let item of itemInput; let i = index" class="row">
                    <div class="col-md-3">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.templateOptions.label }}" aria-describedby="basic-addon2" disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.templateOptions.placeholder }}" aria-describedby="basic-addon2" disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-2 col-base">
                      <button class="btn-edit" (click)="editItem(i,'MULTIINPUT')">
                        <clr-icon shape="pencil" size="16"></clr-icon>
                      </button>
                      <button class="btn-danger" (click)="deleteItem(i,'MULTIINPUT')">
                        <clr-icon shape="trash" size="16"></clr-icon>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">ID</span>
                    <input class="form-control" type="text" placeholder="Id" [(ngModel)]="idItem" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">LABEL</span>
                    <input class="form-control" type="text" placeholder="Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">PLACEHOLDER</span>
                    <input class="form-control" type="text" placeholder="Placeholder" [(ngModel)]="placeholderItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon3" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <div *ngIf="editMultiInput == true">
                    <button class="btn-dark" (click)="editInput()">
                      <clr-icon shape="pencil" size="16"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="editMultiInput == false">
                    <button class="btn-dark" (click)="addInput()">
                      <clr-icon shape="plus" size="16"></clr-icon>
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'select'">
              <div class="row">
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID SELECT</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let item of itemSelect; let i = index" class="row">
                    <div class="col-md-5">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.label }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="input-group">
                        <!-- <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span> -->
                        <input class="form-control" type="text" value="{{ item.value }}" aria-describedby="basic-addon2" disabled />
                      </div>
                    </div>
                    <div class="col-md-2 col-base">
                      <button class="btn-edit" (click)="editItem(i,'SELECT')">
                        <clr-icon shape="pencil" size="16"></clr-icon>
                      </button>
                      <button class="btn-danger" (click)="deleteItem(i,'SELECT')">
                        <clr-icon shape="trash" size="16"></clr-icon>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                    <input class="form-control" type="text" placeholder="Masukkan Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                    <input class="form-control" type="text" placeholder="Masukkan Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon3" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="generateValue()">Random</button>
                  </span>
                </div>
                <div class="col-md-1 col-base">
                  <div *ngIf="editSelectElement == true">
                    <button class="btn-dark" (click)="editSelect()">
                      <clr-icon shape="pencil" size="16"></clr-icon>
                    </button>
                  </div>
                  <div *ngIf="editSelectElement == false">
                    <button class="btn-dark" (click)="addSelect()">
                      <clr-icon shape="plus" size="16"></clr-icon>
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'timepicker'">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'datepicker'">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
            <div *ngIf="elementName == 'range'">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">ID</span>
                    <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-md-2 col-base">
                  <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-secondary" type="button" (click)="randomID()">Random</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">MIN</span>
                    <input class="form-control" type="text" placeholder="Masukkan Min" [(ngModel)]="minRange" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">MAX</span>
                    <input class="form-control" type="text" placeholder="Masukkan Max" [(ngModel)]="maxRange" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">STEP</span>
                    <input class="form-control" type="text" placeholder="Masukkan Step" [(ngModel)]="stepRange" [ngModelOptions]="{standalone: true}"
                      aria-describedby="basic-addon2" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button *ngIf="!onEditedElement" class="btn-primary_" (click)="saveElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                  <button *ngIf="onEditedElement" class="btn-primary_" (click)="saveEditedElement()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> EDIT</button>
                  <button class="btn-danger" (click)="cancelElement()">
                    <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
                </div>
              </div>
            </div>
          </div>

          <div class="editor-form">
            <strong>
              FORM ELEMENTS</strong>
            <hr>
            <div class="row" *ngFor="let form of formField; let i = index">
              <div class="col-md-8">
                <input class="form-control" type="text" value="{{ form.templateOptions.label }}" readonly/>
              </div>
              <div class="col-md-1 col-base">
                <button class="btn-link" (click)="moveElement(i,-1)">
                  <clr-icon shape="rewind" size="16"></clr-icon>
                </button>
              </div>
              <div class="col-md-1 col-base" (click)="moveElement(i,+1)">
                <button class="btn-link">
                  <clr-icon shape="fast-forward" size="16"></clr-icon>
                </button>
              </div>
              <div class="col-md-1 col-base">
                <button class="btn-edit" (click)="editElement(i)">
                  <clr-icon shape="pencil" size="16"></clr-icon>
                </button>
              </div>
              <div class="col-md-1 col-base">
                <button class="btn-danger" (click)="deleteElement(i)">
                  <clr-icon shape="trash" size="16"></clr-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button *ngIf="no_form" class="btn-dark" (click)="alertEditModal = true;">EDIT FORM</button>
              <button *ngIf="!no_form" class="btn-dark" (click)="alertSaveModal = true;">SAVE FORM</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="alertEditModal" [clrModalSize]="'sm'">
  <h5 class="modal-title">Warning</h5>
  <div class="modal-body">Are you sure to edit this form ?</div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="alertEditModal = false;" type="button">Cancel</button>
    <button class="btn btn-primary" (click)="editForm()" type="button">Edit</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="alertSaveModal" [clrModalSize]="'sm'">
  <h5 class="modal-title">Warning</h5>
  <div class="modal-body">Are you sure to save this form ?</div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="alertSaveModal = false;" type="button">Cancel</button>
    <button class="btn btn-primary" (click)="saveForm()" type="button">Save</button>
  </div>
</clr-modal>