$grey:#eceef3;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #f3f3f7;
$lightgrey: #f1f1f1;
$darknavy: #354052;
$darkdarknavy: #2e3747;
$amber: #FFC107;
$green: #32db64;
$red: #d9534f;

form, .form {
  padding-top:0px;
}

.search {
    float: right;
    width: 400px;
}

.search-pasien {
    width: 100%;
}

.icon-search {
    margin: 15px;
    width: 24px;
    height: 24px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time] {
    margin: 10px;
    width: 90%;
}

.list-pasien {
    border-bottom:1px solid $grey;
}

.row {
    align-items: center;
}

.rowlist {
    align-items: flex-start;
}

.name-pasien {
    font-size: 1.2em;
}

clr-modal .modal .modal-dialog {
    min-width: 960px;
}

.badge.badge-notif {
    background: $amber;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1em;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content-left {
    width:100%;
    align-self: flex-start;
    transition: all .5s ease-out;
    padding: 24px 24px 24px 24px;
}

.content-right {
    width: 0px;
    align-self: flex-start;
    background: white;
    position: relative;
    height: 100%;
    margin-top:3px;
    padding:10px;
    display: none;
    transition: all .5s ease-out;
}

.content-right-open {
    width: 600px;
    border-left: 1px solid $grey;
    align-self: flex-start;
    background: white;
    position: relative;
    height: 100%;
    margin-top:3px;
    padding:10px 10px 10px 20px;
    display: block;
    transition: all .5s ease-out;
}

#btn-search, #btn-detail {
    float: right;
}

.sub-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.side-left, .side-right {
    width:100%;
    align-self: flex-start;
    transition: all .5s ease-out;
}

.close-button {
    background: transparent;
    border:none;
    font-size: 2em;
    padding: 0 20px 0 20px;
    outline: none;
}

.title-side {
    font-size: 1.3em;
    line-height: 30px;
}

.dokter-wrapper {
    margin-left:30px;
}

.btn-darkblue {
    background: $darknavy;
    color: white;
    border: 1px solid $darknavy;
    outline: none;
}

.wrapper-side-right {
    width: 500px;
}

.column-list{
    padding: 15px;
    background: white;
    transition:all .5s ease-out;

    &:hover {
        background: $grey;
    }
    
    &.active{
    padding: 15px;
    background: $grey;
    transition:all .5s ease-out;
    }
}

.icd-assesment {
    margin: 10px;
    height: auto;
    .list-icd {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: $blue;
            color: white;
            padding: 5px;
            margin: 5px;
            float: left;
        }
    }
}

.statusberkas-green {
    font-size: 1em;
    line-height: auto;
    margin-left: 10px;
    color: $green;
    font-weight: bold;
}

.statusberkas-red {
    font-size: 1em;
    line-height: auto;
    margin-left: 10px;
    color: $red;
    font-weight: bold;
}

.judulicd {
    margin-left: 10px;
}

.wrapperlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.listcontent-left {
    width:10%;
    align-self: flex-start;
    align-items: center;
}

.listcontent-right {
    width:90%;
    align-self: flex-start;
}

.number-index {
    margin-top: 10px;
    height: 30px;
}