<div class="wrapper">
        <div class="content-left">
        <div class="sub-wrapper">
            <div class="side-left">
                <h1>Request Edit</h1>
            </div>
            <div class="side-right">
                    <div class="card">
                    <div class="row">
                        <div class="col-md-1">
                            <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
                        </div>
                        <div class="col-md-11">
                            <input id="search_input" [(ngModel)]="searchdoctor" type="text" placeholder="Ketik Nama Dokter..." >
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="card">
                        <div *ngFor="let datadoctors of dataDoctors | filterByDoctor: searchdoctor; let i = index ">
                            <div class="column-list" (click)="openPasien(i,datadoctors.nodok, datadoctors.nama_dok)" [class.active]="i == selectedRow">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="wrapperlist">
                                        <div class="istcontent-left">
                                            <div class="number-index">{{ i+1 }}</div>
                                        </div>
                                        <div class="listcontent-right">
                                            <div class="dokter-wrapper">
                                            <span class="name-pasien">{{ datadoctors.nama_dok }}</span>
                                            <br>
                                            <span ><b>Poli :</b> {{ datadoctors.poli }} | <b>No. Dokter :</b> {{ datadoctors.nodok }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-1">
                                    <span class="badge badge-notif">{{ datadoctors.badge }}</span>
                                </div>
                            </div>
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="content-right-open" *ngIf="openpasien" [@fadeInOut]="openpasien">
            <div class="wrapper-side-right">
            <div class="row">
                <div>
                    <button class="close-button" (click)="closePasien()">x</button>
                </div>
                <div>
                    <span class="title-side">{{ DoctorName }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="row">
                        <div class="col-md-1">
                            <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
                        </div>
                        <div class="col-md-11">
                            <input id="search_input" type="text" [(ngModel)]="searchpatient" placeholder="Ketik Nama Pasien atau Nomer RM" >
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="list-pasien" *ngFor="let datapasien of dataPasien | filterByPatient: searchpatient">
                        <div class="column-list">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="../../images/{{ datapasien.kelamin == 'L' ? 'male.png' : 'female.png' }}" width="50px">
                            </div>
                            <div class="col-md-8">
                                <span class="name-pasien">{{ datapasien.nama_pasien }}</span> 
                                <!-- <span class="{{datapasien.check == 'Sudah di Cek' ? 'statusberkas-green' :  '' }}">({{ datapasien.check }})</span> -->                            
                                <br>
                                <span>No. RM : {{ datapasien.no_medrec }}</span>
                            </div>
                            <div class="col-md-2" *ngIf="datapasien.flag == '2'">
                                <button id="btn-detail" class="btn btn-primary" (click)="editRequest(datapasien.no_medrec)">EDIT</button>
                            </div>
                            <div class="col-md-2" *ngIf="datapasien.flag != '2'">
                                <button id="btn-detail" class="btn btn-primary" disabled>EDIT</button>
                            </div>
                        </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        </div>       
        </div>
        </div>
        <clr-modal [(clrModalOpen)]="openRequest" [clrModalSize]="'lg'">
                <h3 class="modal-title">Permohonan Sunting Riwayat Pasien</h3>
                <div class="modal-body">
                  <div class="row rowlist">
                      <div class="col-md-9">
                          Kepada :<br>
                          Yth. Manajemen
                      </div>
                      <div class="col-md-3">
                          <span>Tanggal :</span>
                              <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                  [(ngModel)]="mydate" [placeholder]="placeholder" required></my-date-picker>
                      </div>
                  </div>
                  <div *ngFor="let datapasiendetail of datapasiendetail">
                  Yang dibawah ini :<br>
                  Dokter : <strong>{{ datapasiendetail.nama_dok }}</strong><br> 
                  No. Dokter : <strong *ngFor="let doctor of datapasiendetail.nodok">{{ doctor.number }}</strong><br>
                  Spesialis : <strong *ngFor="let job of datapasiendetail.nodok">{{ job.specialist }}</strong>
                  <br>
                  <br>
                  Menyatakan permohonan untuk menyunting data riwayat pasien atas :<br>
                  Nama : <strong>{{ datapasiendetail.nama_pasien }}</strong><br> 
                  No. RM : <strong *ngFor="let personal of datapasiendetail.no_medrec">{{ personal.no_medrec }}</strong><br>
                  Alamat : <strong *ngFor="let personaladdress of datapasiendetail.no_medrec">{{ personaladdress.address }}</strong>
                  </div>
                  <br>
                  <br>
                  Dengan alasan :
                  <div class="row">
                      <div class="col-md-12">
                          <input type="text" [(ngModel)]="alasan" placeholder="Ketik Alasan..." >
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="openLoading">
                        <span class="spinner spinner-inline"></span>
                        <span>Mohon Tunggu...</span>
                    </div>
                    <button class="btn btn-outline" (click)="openRequest = false" type="button" [disabled]="openLoading">BATAL</button>
                    <button class="btn btn-primary" (click)="emailRequest()" type="button" [disabled]="openLoading">KIRIM</button>
                </div>
              </clr-modal>
              
<clr-modal [(clrModalOpen)]="openAlert" [clrModalSize]="'sm'">
        <div class="modal-body">
            <p>{{ messageAlert }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeNotif()">Ok</button>
        </div>
</clr-modal>

