// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.

$grey:#eceef3;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #f3f3f7;
$lightgrey: #f1f1f1;
$darknavy: #354052;
$darkdarknavy: #2e3747;


input[type=text] {
  margin-left: 10px;
}

.clr-icon {
  &.clr-clarity-logo {
    background-image: url(../../../images/sirus.png);
    width: 100px;
    height: 60px;
    background-color: $blue;
  }
}

header, .header {
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=99, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.1);/*FF 3.5+*/
    -webkit-box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000); /*IE 5.5-7*/
    .branding {
      padding: 0;
      .title {
        color: $darknavy;
      }
    }
}

header .settings .nav-link clr-icon, header .header-actions .nav-link clr-icon, .header .settings .nav-link clr-icon, .header .header-actions .nav-link clr-icon {

  color:$darkdarknavy;
  margin-left:50px;

}

header .settings .nav-link, header .header-actions .nav-link, .header .settings .nav-link, .header .header-actions .nav-link {

  color: $darkdarknavy;

}

header .settings .nav-icon, header .header-actions .nav-icon, .header .settings .nav-icon, .header .header-actions .nav-icon {
  width:150px;
  padding-left: 50px;
}

.sidenav {
  background-color: $darknavy;
  min-width: 100px;
  max-width: 100px;
  width: 0;
  border-right: 0px;
}

.sidenav .sidenav-content>.nav-link {
  margin:0;
  text-align: center;
  padding: 15px;
  color: white;
}

.sidenav .sidenav-content>.nav-link:hover{
  background:$darkdarknavy;
}

.sidenav .sidenav-content>.nav-link.active {
  background : $darkdarknavy;
  transition: all .5s ease-out;
}

.sidenav .sidenav-content .nav-link {
  border-radius: 0px;
}

.person {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.main-container .content-container .content-area {
  padding: 0;
}

clr-modal .modal .modal-dialog {
    width: 1000px !important;
}

