<clr-main-container>
  <clr-header>
    <div class="branding">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Rekam Medis</span>
    </div>
    <div class="header-actions">
      <a  (click)="logout()" class="nav-link nav-icon">
         <clr-icon shape="logout"></clr-icon> LOGOUT
      </a>
  </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
            <section class="sidenav-content">
                <div class="person">
                  <img src="../../images/male.png"><br>
                  Fulan
                </div>
                <a class="nav-link" href="#" [routerLink]="['rmpasien']" routerLinkActive="active"><clr-icon shape="folder" class="is-inverse" size="28"></clr-icon><br>RM Pasien</a>
                <a class="nav-link" href="#" [routerLink]="['laporan']" routerLinkActive="active"><clr-icon shape="storage" class="is-inverse" size="28"></clr-icon><br>Laporan</a>
                <a class="nav-link" href="#" [routerLink]="['requestedit']" routerLinkActive="active"><clr-icon shape="edit" class="is-inverse" size="28"></clr-icon><br>Request Edit</a>
                <a class="nav-link" href="#" [routerLink]="['admin']" routerLinkActive="active"><clr-icon shape="tasks" class="is-inverse" size="28"></clr-icon><br>Form Admin</a>
            </section>
        </nav>
  </div>
</clr-main-container>