<div class="wrapper">
    <div class="content-left">
        <div class="sub-wrapper">
            <div class="side-left">
                <h1>Coding</h1>
            </div>
            <div class="side-right">
                <div class="card">
                    <div class="row">
                        <div class="col-md-1">
                            <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
                        </div>
                        <div class="col-md-11">
                            <input id="search_input" [(ngModel)]="searchdoctor" type="text" placeholder="Ketik Nama Dokter...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div *ngFor="let datadoctors of dataDoctors | filterByDoctor: searchdoctor; let i = index ">
                        <div class="column-list" (click)="openModalPatient(i,datadoctors.nodok, datadoctors.nama_dok)" [class.active]="i == selectedRow">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="wrapperlist">
                                        <div class="istcontent-left">
                                            <div class="number-index">{{ i+1 }}</div>
                                        </div>
                                        <div class="listcontent-right">
                                            <div class="dokter-wrapper">
                                                <span class="name-pasien">{{ datadoctors.nama_dok }}</span>
                                                <br>
                                                <span>
                                                    <b>Poli :</b> {{ datadoctors.poli }} |
                                                    <b>No. Dokter :</b> {{ datadoctors.nodok }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-1">
                                    <span class="badge badge-notif">{{ datadoctors.badge }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-right-open" *ngIf="openPatient" [@fadeInOut]="openPatient">
        <div class="wrapper-side-right">
            <div class="row">
                <div>
                    <button class="close-button" (click)="closePatient()">x</button>
                </div>
                <div>
                    <span class="title-side">{{ doctorName }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-1">
                                <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
                            </div>
                            <div class="col-md-11">
                                <input id="search_input" type="text" [(ngModel)]="searchpatient" placeholder="Ketik Nama Pasien atau Nomer RM">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="list-pasien" *ngFor="let datapatient of dataPatient | filterByPatient: searchpatient">
                            <div class="column-list">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="../../images/{{ datapatient.kelamin == 'L' ? 'male.png' : 'female.png' }}" width="50px">
                                    </div>
                                    <div class="col-md-8">
                                        <span class="name-pasien">{{ datapatient.nama_pasien }}</span>
                                        <br>
                                        <span>No. RM : {{ datapatient.no_medrec }}</span>
                                        <span class="{{datapatient.flag == '2' ? 'statusberkas-green' :  'statusberkas-red' }}">({{ datapatient.flag == '2' ? 'Selesai Periksa' : 'Belum Selesai Periksa' }})</span>
                                    </div>
                                    <div class="col-md-2" *ngIf="datapatient.flag == '2'">
                                        <button id="btn-detail" class="btn btn-primary" (click)="editCoding(datapatient.no_medrec, datapatient.no_periksa)">CODING</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<clr-modal [(clrModalOpen)]="openCoding" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{ doctorName }}</h3>
    <div class="modal-body">
        <div class="row rowlist">
            <div class="col-md-6" *ngFor="let detailpatient of dataCT">
                <h4>Data Pasien</h4>
                <div class="row">
                    <div class="col-md-6">
                        Nama Pasien
                    </div>
                    <div class="col-md-6">
                        <strong>{{ detailpatient.nama_pasien }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        No. RM
                    </div>
                    <div class="col-md-6">
                        <strong>{{ detailpatient.no_medrec }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Jaminan
                    </div>
                    <div class="col-md-6">
                        <strong>{{ detailpatient.jaminan }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Tgl. Lahir
                    </div>
                    <div class="col-md-6">
                        <strong>{{ mapToMoment(detailpatient.tgl_lahir) }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Umur
                    </div>
                    <div class="col-md-6">
                        <strong>{{ detailpatient.umur }} tahun</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Jenis Kelamin
                    </div>
                    <div class="col-md-6">
                        <strong>{{ detailpatient.kelamin }}</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngFor="let diagnosa of dataCT">
                <h4>Diagnosa</h4>
                {{ diagnosa.a_description }}
                <button class="btn btn-sm btn-block" (click)="drawcanvas(diagnosa.a_stroke, 'a')">Tampilkan Hasil Stylus</button>
                <canvas id="canvas" [height]="height" [width]="width" style="display: none"></canvas>
                <img *ngIf="stylus" class="drawimage" src="{{ diagnosa.imagea }}" style="width:380px;height:190px;">
            </div>
        </div>
        <hr>
        <h4>Informasi Tambahan</h4>
        <div *ngFor="let review of reviewPatient">
            TB :
            <strong>{{ review.tb }} cm</strong>
            <br> BB :
            <strong>{{ review.bb }} kg</strong>
            <br> TD :
            <strong>{{ review.td }}</strong>
            <br> NADI :
            <strong>{{ review.nadi }}</strong>
            <br> SUHU :
            <strong>{{ review.suhu }} &#8451;</strong>
            <br> PERNAFASAN :
            <strong>{{ review.penafasan }}</strong>
        </div>
        <hr>
        <!-- Pilih ICD9 : <input id="search_input" [(ngModel)]="searchQueryICD9" (ngModelChange)="searchICD9($event)" type="text" placeholder="Ketikkan Tindakan Pasien ..." >
    <div *ngIf="autocompleteStatusAction">
            <div class="list-icd9" *ngFor="let icd9 of icd9;let i = index" (click)="addICD9(i)">
              {{ icd9.deskripsi }}
            </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="judulicd">ICD9</span>
        </div>
        <div class="col-md-9">
            <ul class="list-icd">
                <li *ngFor="let icd9 of listicd;let i = index">
                    {{ icd9.deskripsi }} ( {{ icd9.kode }} ) <span (click)="removeICD9(i)">X</span>
                </li>
            </ul>
        </div>
    </div> -->

        <div class="row">
            <div class="col-md-3">
                <span class="judulicd">ICD9 (dari Database)</span>
            </div>
            <div class="col-md-9">
                <div class="icd-assesment">
                    <ul class="list-icd" *ngFor="let icd9 of icd9fix">
                        <li>{{ icd9.deskripsi }} ( {{ icd9.kode }} )</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="judulicd">ICD10</span>
            </div>
            <div class="col-md-9">
                <div class="icd-assesment">
                    <ul class="list-icd" *ngFor="let icd of icdxfix">
                        <li>{{ icd.penyakit }} ( {{ icd.icd }} )</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="openCoding = false" type="button">TUTUP</button>
        <!-- <button class="btn btn-primary" (click)="submitCoding()" type="button">SIMPAN</button> -->
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="openAlert" [clrModalSize]="'sm'">
    <div class="modal-body">
        <p>{{ messageAlert }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openAlert = false">Ok</button>
    </div>
</clr-modal>