<div class="login-wrapper">
    <form class="login" #registerForm="ngForm">
        <label class="title">
            <h2 class="welcome">Login</h2>
        </label>
        <div class="login-group">
            <input class="email" type="text" id="login_email" placeholder="Ketikkan Email Anda" [(ngModel)]="registerCredentials.email"
                name="email" required>
            <br>
            <input class="password" type="password" id="login_password" placeholder="Ketikkan Kata Sandi Anda" [(ngModel)]="registerCredentials.password"
                name="password" required>
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Ingatkan saya
                </label>
            </div>
            <button (click)="login(registerForm.value)" class="btn btn-primary btn-block" [disabled]="!registerForm.form.valid">LOGIN</button>
            <button class="btn btn-primary btn-block" (click)="goToForgetPass()">Lupa Kata Sandi?</button>
            <div class="version-tag">
                Version 0.2.0.1
            </div>
        </div>
    </form>
</div>
<clr-modal [(clrModalOpen)]="openAlert" [clrModalSize]="'sm'">
    <div class="modal-body">
        <p>{{ messageAlert }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openAlert = false">Ok</button>
    </div>
</clr-modal>