$grey:#eceef3;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #f3f3f7;
$lightgrey: #f1f1f1;
$darknavy: #354052;
$darkdarknavy: #2e3747;
$green: #8BC34A;
$red: #ff5252;

form, .form {
  padding-top:0px;
}

.titlewarning {
    margin-top:0px;
    margin:13px;
    color:white;
    font-size: 1.1em;
}

.icon-search {
    margin: 15px;
    width: 24px;
    height: 24px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time] {
    margin: 10px;
    width:100%;
}

.list-pasien {
    border-bottom:1px solid $grey;
}

.row {
    align-items: stretch;
}

.rowlist {
    text-align: left;
}

.rowcenter {
    align-items: center;
}

.colcenter {
    text-align: center;
}

.text-list {
    font-size: 1.2em;
}

.name-pasien {
    font-size: 1.2em;
}

#btn-search, #btn-detail {
    float: right;
}

#btn-filter {
    margin-top:20px;
}

.sub-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.close-button {
    background: transparent;
    border:none;
    font-size: 2em;
    padding: 0 20px 0 20px;
    outline: none;
}

.content-left {
    width:100%;
    align-self: flex-start;
    transition: all .5s ease-out;
}

.content-right {
    width: 0px;
    align-self: flex-start;
    background: white;
    position: relative;
    height: 100%;
    margin-top:3px;
    padding:10px;
    display: none;
    transition: all .5s ease-out;
}

.content-right-open {
    width: 600px;
    border-left: 1px solid $grey;
    align-self: flex-start;
    background: white;
    position: relative;
    height: 100%;
    margin-top:3px;
    padding:10px 10px 10px 20px;
    display: block;
    transition: all .5s ease-out;
}

.wrapper {
    padding: 20px;
}

.side-left, .side-right {
    width:100%;
    align-self: flex-start;
    transition: all .5s ease-out;
}

.btn-darkblue {
    background: $darknavy;
    color: white;
    border: 1px solid $darknavy;
    outline: none;
    margin:10px;
}

.table-wrapper {
    padding:20px;
}

.column-list{
    padding: 15px;
    background: white;
    transition:all .5s ease-out;

    &:hover {
        background: $grey;
    }
    
    &.active{
    padding: 15px;
    background: $grey;
    transition:all .5s ease-out;
    }
}

.status-rv {
    color: $green;
    font-weight: bold;
}

.notification-ct {
    background: $blue;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.statusberkas-red {
    font-size: 0.8em;
    line-height: auto;
    margin-left: 10px;
    color: $red;
    font-weight: bold;
}

.statusberkas-green {
    font-size: 0.8em;
    line-height: auto;
    margin-left: 10px;
    color: $green;
    font-weight: bold;
}

.descpasien {
    margin-top:0px;
    font-size: 0.9em;
}

.nama-dokter {
    font-size: 0.9em;
}

.list-icd {
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        background: $blue;
        color: white;
        padding: 5px;
        margin: 5px;

        .icon-badge{
            float: right;
            margin-right: 5px;
        }
    }
}

.table td {
    text-align: left;
}

#alignlefttext {
    float: left;
    align-items: left;
}

#linesoap {
    border-bottom: 1px solid $darknavy;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-ct {
    min-height: 40px;
    text-align: center;
    padding-top: 10px;
}

.drawimage {
    background-image: 
    -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -webkit-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -moz-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -o-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -ms-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    -webkit-background-size: 100% 2em;
    -moz-background-size: 100% 2em;

    background-image: 
    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-size: 100% 2em;
    // background: #f5f5f5;
} 