<div class="wrapper">
    <div class="sub-wrapper">
        <div class="side-left">
            <h1>RM Pasien</h1>
        </div>
        <div class="side-right">
            <div class="card">
                <div class="row">
                    <div class="col-md-1">
                        <clr-icon shape="search" class="icon-search" size="16"></clr-icon>
                    </div>
                    <div class="col-md-10">
                        <input id="search_input" [(ngModel)]="searchPatient" type="text" placeholder="Ketik Nama Pasien atau Nomer RM">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="list-pasien" *ngFor="let datapatient of dataPatient | filterBy: searchPatient">
                    <div class="column-list">
                        <div class="row">
                            <div class="col-md-1" *ngFor="let pasien of datapatient.pasien">
                                <img src="../../images/{{ pasien.gender == 'L' ? 'male.png' : 'female.png' }}" width="50px">
                            </div>
                            <div class="col-md-3">
                                <span class="name-pasien" *ngFor="let pasien of datapatient.pasien">{{ pasien.name }}</span>
                                <br>
                                <span>
                                    <b>No. Rekam Medis :</b> {{ datapatient.no_medrec }}</span>
                            </div>
                            <div class="col-md-5">
                                <div *ngFor="let kajian of filterArray(datapatient.kajian)">
                                    <p class="descpasien">
                                        <b>TD :</b> {{ kajian.td }} ,
                                        <b>TB :</b> {{ kajian.tb }} cm,
                                        <b>BB :</b> {{ kajian.bb }} kg,
                                        <b>NADI :</b> {{ kajian.nadi1 }}/menit ,
                                        <b>PERNAFASAN :</b> {{ kajian.pernafasan1 }}/menit
                                        <span *ngFor="let periksa of filterArray(datapatient.periksa)">|
                                            <b>DOKTER :</b> {{ periksa.nama_dok }}</span>
                                        <!-- <span class="{{datapasien.status == 'Belum Lengkap' ? 'statusberkas-red' :  'statusberkas-green' }}">({{ datapasien.status }})</span> -->
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3" *ngFor="let pasien of datapatient.pasien">
                                <button id="btn-detail" class="btn btn-primary" (click)="getListintegratedNote(pasien.no_medrec)">DETAIL</button>
                                <button id="btn-detail" class="btn btn-outline" (click)="listDoctor(pasien.no_medrec)">DOKTER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <clr-modal [(clrModalOpen)]="modalStatusIntegratedNote" [clrModalSize]="'lg'" *ngFor="let detaildatapatient of detailDataPatient">
        <h3 class="modal-title">{{ detaildatapatient.nama }}</h3>
        <div class="modal-body">
            <div class="notification-ct" *ngIf="notificationWarning">
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="titlewarning">{{ doctorName }} belum memasukan
                            <b *ngFor="let status of statusSOAP">
                                {{ status }}, </b>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-darkblue">KIRIM NOTIFIKASI</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    No RM :
                    <strong>{{ detaildatapatient.no_medrec }}</strong>
                    <br> Tgl Lahir :
                    <strong>{{ mapToMoment(detaildatapatient.tgl_lahir) }}</strong>
                    <br> Umur :
                    <strong>{{ agePatient }} tahun</strong>
                    <br>
                </div>
                <div class="col-md-6">
                    Agama :
                    <strong>{{ religionPatient }}</strong>
                    <br> Pekerjaan :
                    <strong>{{ detaildatapatient.pekerjaan }}</strong>
                    <br> Alamat :
                    <strong>{{ detaildatapatient.jln1+" No. "+detaildatapatient.no+", RT/RW. "+detaildatapatient.rt+"/"+detaildatapatient.rw+",
                        Desa. "+detaildatapatient.desa+", Kec. "+detaildatapatient.kecamatan+", "+detaildatapatient.kota
                        }}
                    </strong>
                    <br>
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="statusIntegratedNote">
                <div class="col-md-4">
                    <span>Filter Date</span>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="filterDate" [placeholder]="placeholder" required></my-date-picker>
                </div>
                <div class="col-md-4">
                    <button id="btn-filter" class="btn btn-primary" (click)="filteringByDate()">FILTER</button>
                    <button id="btn-filter" class="btn btn-outline" (click)="resetData()">RESET</button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div *ngIf="!statusDetailSoap">
                <div class="card" *ngIf="statusIntegratedNote">
                <div class="list-pasien" *ngFor="let ct of dataDateCT">
                    <div class="column-list">
                        <div class="row rowcenter">
                            <div class="col-md-4">
                                <span class="text-list">{{ mapToMoment(ct.tgl_ct) }}</span>
                            </div>
                            <div class="col-md-5">
                                    <span class="text-list">{{ ct.nama_dok }}</span>
                            </div>
                            <div class="col-md-3">
                                <button id="btn-detail" class="btn btn-primary" 
                                (click)="getIntegratedNote(ct.no_medrec, ct.tgl_ct)">LIHAT CATATAN</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card" *ngIf="!statusIntegratedNote">
                    <div class="list-pasien">
                        <div class="column-list">
                            <div class="row rowcenter">
                                <div class="col-md-12 colcenter">Tidak ada data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="statusDetailSoap">
            <table class="table">
                <thead>
                    <tr>
                        <th width="100px">Tanggal</th>
                        <th>Catatan Terintegrasi</th>
                        <th>Nama</th>
                        <th>Profesi</th>
                    </tr>
                </thead>
                    <tbody *ngIf="statusIntegratedNote">
                    <tr *ngFor="let ct of dataCT; let i = index">
                        <td>{{ mapToMoment(ct.tgl_ct) }}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="header-ct">
                                        <strong>S</strong>
                                    </div>
                                </div>
                                <div class="col-md-10" id="linesoap">
                                    <div id="alignlefttext">
                                        {{ ct.s_description }}
                                    </div>
                                    <br>
                                    <button class="btn btn-sm btn-block" (click)="drawcanvas(i, ct.s_stroke, 's')">
                                        Tampilkan Hasil Stylus</button>
                                    <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                                    <img *ngIf="styluss[i]" class="drawimage" src="{{ ct.images }}" style="width:320px;height:170px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="header-ct">
                                        <strong>O</strong>
                                    </div>
                                </div>
                                <div class="col-md-10" id="linesoap">
                                    <div id="alignlefttext">
                                        {{ ct.o_description }}
                                    </div>
                                    <br>
                                    <button class="btn btn-sm btn-block" (click)="drawcanvas(i, ct.o_stroke, 'o')">Tampilkan Hasil Stylus</button>
                                    <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                                    <img *ngIf="styluso[i]" class="drawimage" src="{{ ct.imageo }}" style="width:320px;height:170px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="header-ct">
                                        <strong>A</strong>
                                    </div>
                                </div>
                                <div class="col-md-10" id="linesoap">
                                    <div id="alignlefttext">
                                        {{ ct.a_description }}
                                    </div>
                                    <br>
                                    <button class="btn btn-sm btn-block" (click)="drawcanvas(i, ct.a_stroke, 'a')">Tampilkan Hasil Stylus</button>
                                    <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                                    <img *ngIf="stylusa[i]" class="drawimage" src="{{ ct.imagea }}" style="width:320px;height:170px;">
                                    <br>
                                    <br>
                                    <br>
                                    <div id="alignlefttext">
                                        ICDX :
                                    </div>
                                    <br>
                                    <Br>
                                    <ul class="list-icd">
                                        <li *ngFor="let icd of generateArray(ct.a_icdx);let i = index">
                                            {{ icd.penyakit }} ( {{ icd.icd }} )
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="header-ct">
                                        <strong>P</strong>
                                    </div>
                                </div>
                                <div class="col-md-10" id="linesoap">
                                    <!-- <img src="assets/img/p.png"> -->
                                    <strong>LABORATORIUM :</strong>
                                    <br> {{ ct.p_lab_description }}
                                    <br>
                                    <br>
                                    <strong>RADIOLOGI :</strong>
                                    <br> {{ ct.p_rad_description }}
                                    <br>
                                    <br>
                                    <strong>FISIOTERAPI :</strong>
                                    <br> {{ ct.p_fisio_description }}
                                    <br>
                                    <br>
                                    <strong>TINDAKAN :</strong>
                                    <br> {{ ct.p_tindakan_description }}
                                    <br>
                                    <strong>ICD9 :</strong>
                                    <ul class="list-icd">
                                        <li *ngFor="let icd of generateArray(ct.a_icd9);let i = index">
                                            {{ icd.deskripsi }} 
                                        </li>
                                    </ul>
                                    <br>
                                    <br>
                                    <strong>OBAT :</strong>
                                    <br> {{ ct.p_obat_description }}
                                    <br>
                                    <button class="btn btn-sm btn-block" (click)="drawcanvas(i, ct.p_obat_stroke, 'po')">Tampilkan Hasil Stylus</button>
                                    <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                                    <img *ngIf="styluspo[i]" class="drawimage" src="{{ ct.imagepo }}" style="width:320px;height:170px;">
                                    <br>
                                    <div id="alignlefttext">
                                        RESEP OBAT :
                                    </div>
                                    <br>
                                    <ul class="list-icd">
                                        <li *ngFor="let obat of generateArray(ct.p_obat_nama);let i = index">
                                            {{ obat.nama }}
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </td>
                        <td width="150px">{{ ct.nama_dok }}</td>
                        <td width="100px">Dokter</td>
                    </tr>
                </tbody>
            </table>
                </div>
        </div>
    </clr-modal>
    <clr-modal [(clrModalOpen)]="modalStatusCheckoutDoctor" [clrModalSize]="'md'">
        <h3 class="modal-title">Dokter yang Sudah Memeriksa</h3>
        <div class="modal-body" *ngIf="checkoutDoctor">
            <div class="list-pasien" *ngFor="let doctor of dataDoctor">
                <div class="column-list">
                    <div class="row">
                        <div class="col-md-9" *ngFor="let detaildoctor of detailDataDoctor">
                            <span class="name-dokter">{{ detaildoctor.nama_dok }}</span>
                            <br>
                            <span>Spesialis : {{ detaildoctor.specialis }}</span>
                        </div>
                        <div class="col-md-3">
                            Tgl Periksa :
                            <br>
                            <b>{{ dateofcheckout }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body" *ngIf="!checkoutDoctor">
            <div class="list-pasien">
                <div class="column-list">
                    <div class="row">
                        <div class="col-md-12">
                            Belum ada Dokter yang sudah memeriksa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </clr-modal>