$darkblue: #314961;
$softdarkblue: #49698a;
$greyback: #e3e7e9;
$primary: #3193fe;
$softprimary: #5ba9fd;
$greysoft: #aaa;
$grey: #f1f1f1;
$red: #d9534f;
$softred: #ff7470;


.row {
    padding-top: 10px;
}
.text-left {
    text-align: left;
}

label {
    font-size: 1em;
}

.text-right {
    text-align: right;
}

.input-form {
    border:0;
    border-bottom:1px solid $greysoft;
    font-size: 1.1em;
    line-height: 40px;
    width: 480px;
    outline:none;
}

.input-form:focus {
    border-bottom:1px solid $primary;
}

.btn-primary {
    border:0;
    border-radius: 3px;
    background-color: $primary;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-primary:hover {
    background-color: $softprimary;
}

.btn-danger {
    border:0;
    border-radius: 3px;
    background-color: $red;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-danger:hover {
    background-color: $softred;
}

.btn-dark {
    border:0;
    border-radius: 3px;
    background-color: $softdarkblue;
    background-color: $darkblue;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
}

.btn-dark:hover {
    background-color: $darkblue;
}

.btn-dark:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

.btn-back {
    border:0;
    border-radius: 3px;
    background-color: $softdarkblue;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    margin-left: 55px;
}

.navbar {
    width:100%;
    background: $darkblue;
    color:white;
    height: 60px;
    border-radius: 0;
}

.navbar-title-top {
    font-size: 1.3em;
    line-height: 50px;
    margin-left:55px;
    margin-right:55px;
    font-weight: 500;
}

.navbar-search {
    width: 40%;
    height: 35px;
    padding-left: 24px;
    background-color: $softdarkblue;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.navbar-search:focus {
    background-color: white;
}

.content-wrapper {
    background-color: $greyback;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
}

#content-list-wrapper{
    position: absolute;
    width:900px;
    top:50%;
    left:50%;
    margin-top:-265px;
    margin-left:-465px;
}

#content-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    width:900px;
    border-radius: 3px;
    background-color: white;
    padding: 15px 25px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*FF 3.5+*/
    -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.title-content-list {
    font-size: 0.9em;
    font-weight: 700;
}

#content-list .col-6 {
    width: 50%;
}

#content-list .col-12 {
    width: 100%;
}

.full-form {
    width: 100%;
}

.editor-form {
    padding:20px;
    border-left: 5px solid $primary;
    border-top: 1px solid $greysoft;
    border-bottom: 1px solid $greysoft;
    border-right: 1px solid $greysoft;
    margin:20px 0px;
}
