<header class="navbar">
  <button class="btn-back" href="#" (click)="goToHome()">BACK</button>
  <span class="navbar-title-top">{{ formName }}</span>
</header>

<div class="content-wrapper">
  <div id="content-list-wrapper">
    <div id="content-list">
      <div class="col-12">
        <div class="form-group">
          <label for="usr">Form Name :</label>
          <input class="form-control" type="text" [(ngModel)]="formName" [ngModelOptions]="{standalone: true}" (focus)="selectAllContent($event)"
            maxlength="90" />
        </div>
        <hr>
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <pre>MODEL : {{ model|json }}</pre>

        <div class="editor-form">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">LABEL</span>
            <input class="form-control" type="text" [(ngModel)]="labelName" [ngModelOptions]="{standalone: true}" (focus)="selectAllContent($event)"
              maxlength="200" aria-describedby="basic-addon1" />
          </div>
          <br>
          <select class="form-control" [(ngModel)]="elementName" [ngModelOptions]="{standalone: true}" (change)="onSelectElementNameChange($event)">
            <option value="label">Label</option>
            <option value="input">Input</option>
            <option value="textarea">Textarea</option>
            <option value="checkbox">Checkbox</option>
            <option value="radio">Radio Group</option>
            <option value="select">Select</option>
            <option value="datepicker">Datepicker</option>
            <option value="timepicker">Timepicker</option>
            <option value="range" disabled>Range (Coming Soon)</option>
            <option value="multiinput">Multiple Input</option>
            <option value="checkboxgroup">Checkbox Group</option>
          </select>
          <br>
          <div *ngIf="elementName == 'label'">
            <div class="row">
              <div class="col-md-3">
                <select class="form-control" [(ngModel)]="formatText" [ngModelOptions]="{standalone: true}">
                  <option value="header">Header</option>
                  <option value="bold">Bold</option>
                  <option value="normal">Normal</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'input'">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">PLACEHOLDER</span>
                  <input class="form-control" type="text" placeholder="Masukkan Placeholder" [(ngModel)]="placeholder" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-3">
                <select class="form-control" [(ngModel)]="formatText" [ngModelOptions]="{standalone: true}">
                  <option value="text">Text</option>
                  <option value="number">Number</option>
                  <option value="password">Password</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <select class="form-control" [(ngModel)]="required" [ngModelOptions]="{standalone: true}">
                  <option value="true">Required (True)</option>
                  <option value="false">Required (False)</option>
                </select>
              </div>
              <div class="col-md-3">
                <select class="form-control" [(ngModel)]="readonly" [ngModelOptions]="{standalone: true}">
                  <option value="true">Readonly (True)</option>
                  <option value="false">Readonly (False)</option>
                </select>
              </div>
            </div>

            <!-- <div class="row">
                <label>*Hide Expression for Radio Group</label>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="hideExpressionKey" [ngModelOptions]="{standalone: true}" (change)="onSelectFormFieldChange($event)">
                      <option *ngFor="let form of formField; let i = index" value="{{form.templateOptions.options}}">{{ form.templateOptions.label }}</option>
                  </select>
              </div>
              <div class="col-md-2">
                  <select class="form-control" [(ngModel)]="hideExpressionKeyEqual" [ngModelOptions]="{standalone: true}">
                    <option value="==">=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>
              <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="hideExpressionKey" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let item of selectedFormField; let i = index" value="{{item.key}}">{{ item.value }}</option>
                  </select>
              </div>
            </div> -->
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'textarea'">
            <div class="row">
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">ROWS</span>
                  <input class="form-control" type="number" placeholder="Masukkan Rows" [(ngModel)]="rows" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">PLACEHOLDER</span>
                  <input class="form-control" type="text" placeholder="Masukkan Placeholder" [(ngModel)]="placeholder" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'checkbox'">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'radio'">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID RADIO GROUP</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let item of itemRadio; let i = index" class="row">
                  <div class="col-md-5">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.value }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button class="btn-danger" (click)="deleteItem(i,'RADIO')">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                  <input class="form-control" type="text" placeholder="Masukkan Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                  <input class="form-control" type="text" placeholder="Masukkan Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn-dark" (click)="addRadio()">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'checkboxgroup'">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID CHECKBOX GROUP</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let item of itemCheck; let i = index" class="row">
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.templateOptions.label }}" aria-describedby="basic-addon2" disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.templateOptions.value }}" aria-describedby="basic-addon2" disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button class="btn-danger" (click)="deleteItem(i,'CHECKBOX')">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">ID ITEM</span>
                  <input class="form-control" type="text" placeholder="Id" [(ngModel)]="idItem" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon2"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                  <input class="form-control" type="text" placeholder="Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                  <input class="form-control" type="text" placeholder="Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn-dark" (click)="addCheck()">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'multiinput'">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID MULTI INPUT</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let item of itemInput; let i = index" class="row">
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.key }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.templateOptions.label }}" aria-describedby="basic-addon2" disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.templateOptions.placeholder }}" aria-describedby="basic-addon2" disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button class="btn-danger" (click)="deleteItem(i,'MULTIINPUT')">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">ID</span>
                  <input class="form-control" type="text" placeholder="Id" [(ngModel)]="idItem" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon2"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">LABEL</span>
                  <input class="form-control" type="text" placeholder="Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">PLACEHOLDER</span>
                  <input class="form-control" type="text" placeholder="Placeholder" [(ngModel)]="placeholderItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn-dark" (click)="addInput()">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'select'">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID SELECT</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let item of itemSelect; let i = index" class="row">
                  <div class="col-md-5">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.label }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">{{ i+1 }}</span>
                      <input class="form-control" type="text" value="{{ item.value }}" aria-describedby="basic-addon2" disabled />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button class="btn-danger" (click)="deleteItem(i,'SELECT')">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">LABEL ITEM</span>
                  <input class="form-control" type="text" placeholder="Masukkan Label" [(ngModel)]="labelItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">VALUE ITEM</span>
                  <input class="form-control" type="text" placeholder="Masukkan Value" [(ngModel)]="valueItem" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon3" />
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn-dark" (click)="addSelect()">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'timepicker'">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'datepicker'">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
          <div *ngIf="elementName == 'range'">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">ID</span>
                  <input class="form-control" type="text" placeholder="Masukkan Id" [(ngModel)]="idForm" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon1" />
                    <span class="input-group-btn" id="basic-addon2"><button class="btn btn-secondary" type="button" (click)="randomID()">Random</button></span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">MIN</span>
                  <input class="form-control" type="text" placeholder="Masukkan Min" [(ngModel)]="minRange" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">MAX</span>
                  <input class="form-control" type="text" placeholder="Masukkan Max" [(ngModel)]="maxRange" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">STEP</span>
                  <input class="form-control" type="text" placeholder="Masukkan Step" [(ngModel)]="stepRange" [ngModelOptions]="{standalone: true}"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary" (click)="saveElement()">
                  <span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
                <button class="btn-danger" (click)="cancelElement()">
                  <span class="glyphicon glyphicon-erase"></span> CANCEL</button>
              </div>
            </div>
          </div>
        </div>

        <div class="editor-form">
          <div class="row" *ngFor="let form of formField; let i = index">
            <div class="col-md-11">
              <input class="form-control" type="text" value="{{ form.templateOptions.label }}" readonly/>
            </div>
            <!-- <div class="col-md-1">
              <button class="btn-link" (click)="moveElement(i,-1)">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
            </div>
            <div class="col-md-1" (click)="moveElement(i,+1)">
              <button class="btn-link">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
            </div>
            <div class="col-md-1">
              <button class="btn-link" (click)="editElement(i)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </div> -->
            <div class="col-md-1">
              <button class="btn-link" (click)="deleteElement(i)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <button class="btn-dark" (click)="saveForm()" [disabled]="statusForm">SAVE FORM</button>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-2">
            <button class="btn-dark" (click)="saveForm()" [disabled]="statusForm">SAVE FORM</button>
          </div>
          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="selectedElement" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let form of formField; let i = index" value="{{i}}">{{ form.templateOptions.label }}</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn-primary" (click)="editElement()">EDIT ELEMEN</button>
          </div>
          <div class="col-md-3">
            <button class="btn-danger" (click)="deleteElement()">DELETE ELEMEN</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>